.card-header {
    color: blue;
}
#expenseList{
    padding:5px;
    height:150px; 
    width:50%; 
    background:rgb(240,240,240); 
    border-radius:7px; 
    overflow-y:scroll;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
 
  ::-webkit-scrollbar-track {
    
    border-radius: 7px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: rgb(0, 23, 230); 
    border-radius: 7px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00179c; 
  }
   
  